@import "./scroll.scss";
@import "./fonts.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px 0 5px 0;
    background: #000;
    color: #fff;

    .header__wrap {
        display: flex;

        .header__img_wrap {
            width: 64px;

            img {
                width: 100%;
            }
        }

        .header__title {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: ElizabetaModern;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }
    }
}

.content {
    flex: 1 1 auto;
    margin: 30px 0 10px 0;

    .h1 {
        margin: 0;
    }

    .form {}

    .notification {
        margin: 5px 20px 0 20px;

    }

    .form-group {
        display: flex;
        //flex-direction: column;
        margin: 0 20px 0 20px;

        label {
            font-size: 22px;
            margin: 0 10px 0 5px;
        }

        .file {
            font-size: 22px;
        }
    }

    .btns__wrap {
        margin: 10px 20px 0 20px;
        //padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn_wrap {
            width: 40%;

            .btn {
                width: 100%;
                padding: 10px 0;
                color: #fff;
                background-color: rgb(0, 123, 255);
                border-radius: 5px;
                border-color: rgb(0, 123, 255);
                border-style: solid;

                &:hover {
                    background-color: rgb(0, 105, 217);
                    border-color: rgb(0, 98, 204);

                }

                &:focus {
                    box-shadow: rgba(38, 143, 255, 0.5) 0px 0px 0px 2.8px;
                }
            }
        }

    }


    .barcodes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .barcode-item {
        display: block;
        margin: 6px;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 6px;
        text-align: center;
    }

    .barcode-item p {
        margin: 6px 0 0;
        font-size: 13px;
        color: #555;
    }
}

.footer {
    background: #164d7a;
    padding: 5px 0;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .git-hub {}

        .copyright {
            margin: 0;
            font-size: 14px;
            text-align: center;
        }

        .host-name-wrap {}
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .header {

        .header__wrap {

            .header__img_wrap {
                width: 32px;

                img {
                    width: 100%;
                }
            }

            .header__title {
                h2 {
                    font-size: 11px;
                    letter-spacing: 1.5px;

                }
            }
        }
    }

    .content {
        margin: 12px 0;
    }

    .h1 {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .h2 {
        margin: 10px 0 5px 0;
        font-size: 12px;
        letter-spacing: 2px;
    }

    .footer {
        .footer-wrap {
            flex-wrap: wrap;

            a {
                font-size: 12px;
            }

            .git-hub {
                order: 2;
                flex: 0 1 50%;
                text-align: center;
            }

            .copyright {
                order: 1;
                flex: 0 1 100%;
                margin: 0;
                font-size: 12px;
                text-align: center;
                margin-bottom: 5px;
            }

            .host-name-wrap {
                order: 3;
                flex: 0 1 50%;
                text-align: center;
            }
        }
    }
}
